# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
# .vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?


# 排除整个 .vscode 文件夹
.vscode/*

# 但接受 .vscode/tasks.json 文件
!.vscode/tasks.json
!.vscode/笨貓任務.bat
!.vscode/settings.json
# !.vscode/keybindings.json
!.vscode/fetch.bat